# deps
node_modules/

# next
.next/
out/
next-env.d.ts

# local db
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# env
.env.local
.env*.local

# misc
.DS_Store
*.log
npm-debug.log*
.idea/
.vscode/
